body{
   margin:0px;
   padding:0px;
   font-size:12px;
   text-align:center; 
}
a{
    text-decoration: none;
}
ul{
    margin:30px 0px 0px;
    padding:0px;
    list-style: none;
    height:30px;
    border-bottom:1px solid #000000;
}
.menu li{
    float:left;
    height:30px;
    line-height:30px;
    padding: 0px 30px;
    border:1px solid #000000;
    border-bottom:none;
}
table{
    border-collapse: collapse;
    width: 96%;
    margin: 20px 0px 0px 2%;
}
td{
	word-break:break-all;
}
.tbhead{
    background: #cae4f8;
    font-weight:bold;
}
.tbfoot{
    background: #cae4f8;
}
thead{
    line-height:30px;
    background: #cad3f8;
    font-weight:bold;
}
.footer{
    height:80px;
}
.errinfo{
    color:#ff0000;
    font-weight:bold;
    font-size:14px;
}
.gbg{
	background:#f4f4f4;
}
.mychart{
    margin: 20px auto 0px auto;
    width:800px;
    
}
