    /*
    RED:#d82622
    BLUE:rgb(34, 121, 216);    
    */    
    .nav{ position:absolute; z-index:2; top:14px; left:160px; width:100%; height:75px; }
		.nav ul{ overflow:hidden; position:relative; z-index:4; font-size:14px; }
			.nav li{ float:left; height:43px; line-height:43px; background:url(../images/btn_block.gif) right -115px no-repeat; }
				.nav li em{ display:block; }
				.nav li a{ padding:5px 10px; color:#639BB0; font-weight:700; }
				.nav li a:hover{ color:#d82622; text-decoration:none; }
				.nav li .diffcolor{ color:#F60; }
 			/* .nav li.navon{ line-height:33px; background:#09c url(btn_block.gif) no-repeat; } */
			.nav li.navon{ line-height:33px; background:#18a622; }
				/* .nav li.navon em{ display:block; background:url(btn_block.gif) right -50px no-repeat; } */
				.nav li.navon em{ display:block; background:#18a622; }
				/* .nav li.navon em a{ display:block; background:url(btn_block.gif) center bottom no-repeat; color:#FFF; } */
				.nav li.navon em a{ display:block; background:#18a622; color:#FFF; }
					.nav li.navon em a:hover{ color:#FFF; }
		.navbd { overflow:hidden; clear:both;background:#08a622; position:absolute; z-index:3; top:38px; width:100%; height:5px;  }
        
